body {
    background-color: darkslategrey;
    margin-top: 50px;
    margin-left: 25px;
}

.yellow {
    color: yellow;
}

h1,
h2 {
    color: white;
}

h2 {
    text-align: inherit;
}